* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #edf2ff;
  font-family: 'Roboto', sans-serif;
  background-image: url(../asset/image17.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  width: 300px;

  margin: 82px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: #4263eb solid 4px;
}

h1 {
  font-size: 32px;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 8px;

  letter-spacing: 4px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
  font-size: 18px;

  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #000000 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px,
    #000000 0px 0px 50px, #000000 0px 0px 75px;
  color: #ffffff;
}

ul {
  list-style: none;
  margin: 80px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #4263eb; /* hex: 0 - F */
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 20px;
  border-radius: 6px;

  background: radial-gradient(rgba(26, 77, 242, 0), #4263eb);
  transition: background 700ms;

  box-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #000000 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px,
    #000000 0px 0px 50px, #000000 0px 0px 75px;
  color: #ffffff;
}

/* pseudo-class */
ul li a:hover {
  background: rgba(26, 77, 242, 0);
}

footer {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer p {
  color: #ffffff;
}
